
// Nesting
Header ul {
    li {
        background-color: black;
        padding: 2px;
        a {
            color: white;
        }
    }
}

// CSS Variable
::root{
    --warna-utama: white;
    --warna-kedua: black;
    --warna-teks: blue;
}

// SASS  Variable
$warna-utama: white;
$warna-kedua: rgb(0, 53, 56);
$warna-teks: rgb(246, 255, 0);


// Mixin -Simple
@mixin inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
}
header ul {
    @include inline-list()
}


// Argumens Pada Mixiin
@mixin flex-box ($direction: row, $space: center) {
    display: flex;
    justify-content: $space;
    align-items: center;
    flex-direction: $direction
}

main {
    .container {
        @include flex-box(row-reverse, space-evenly);
        width: 600px;
        height: 400px;
        background-color: rgb(8, 85, 45);
        .box {
            width: 60px;
            height: 60px;
            background-color: rgb(4, 150, 190);
            text-align: center;
            line-height: 60px;
        }
    }   
}




// BODY
body {
    background-color: rgb(203, 230, 207);
    margin: 0;
    padding: 0;
    list-style: none;
    border-style: none;
}
header {
    background-color: black;
.nav {
    padding: 0;
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    justify-content: space-between;
    margin: 0 15%;
    .logo {
        font-size:40px;
        font-weight: bold;
        color: rgb(179, 255, 0);
        margin: 0;
        padding: 20px 0;
    }
    .menu {
         display: flex;
         list-style: none;
         gap: 20px;
         align-items: center;
         font-size: 20px;
    }
}
}

// Flow Control

// iF
@mixin profile-pic($size, $circle: false){
    width: $size;
    height: $size;
    border: 5px solid white;
    box-shadow: 1 px 1px 3px rgba(18, 18, 18, 0.249);

    @if $circle {
        border-radius: 50%;
    }
}
.square-profile {
    @include profile-pic(200px, $circle: false )
}
.circle-profile {
    @include profile-pic(80px, $circle: true )
}

// else
$light-bg : #eaeaea;
$light-text : #333;
$dark-bg : #999;
$dark-text : #ddd;

@mixin color-mode($light-mode: true){
    @if $light-mode {
        background-color: $light-bg;
        color: $light-text;
    } @else {
        background-color: $dark-bg;
        color: $dark-text;
    }
}

header {
    
    @include color-mode($light-mode: false);
}


@mixin triangle ($size, $color, $direction){
    width: 0;
    height: 0;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: $size / 2;
    
    @if $direction == up {
        border-bottom-color:
        rgb(60, 75, 80);
    } @else if $direction == right {
        border-left-color: $color;
    } @else if $direction == down { 
        border-top-color: $color;
    } @else {
        border-right-color: $color;
    }
  }
.triangle {
    @include triangle(2em, black ,up )
}